$corporateСolor:rgba(250, 144, 33, 1);

$corporateColorButton:linear-gradient(113deg, #FA8305 0%, #FB9E3C 100%);

$backgroundGradient:linear-gradient(180deg, #000 0%, #331b00 100%);

%TitleDecoration{
    font-family: Poppins-Bold;
    color: #fff;
}

%flex-row{
    display: flex;
    flex-direction: row;
    gap: 5%;
}


%engineIMG{
    width: 10%;
    height: 10%;
    position: absolute;
}


%centering{
    box-sizing: border-box;
 padding-left: 5%;
padding-right: 5%;
}

%titleButtons{
border-radius: 40px;
background: linear-gradient(113deg, #FA8305 0%, #FB9E3C 100%);
width: 195px;
height: 53px;
flex-shrink: 0;
}

%inputButton{
border-radius: 9px;
border: 0.6px solid #CECECE;
background: rgba(255, 255, 255, 0.07);
 height: 80%;
width: 100%;
color: #fff;
font-size: 1.2em;
    }




%seeAllButton{
width: 139px;
height: 57px;
flex-shrink: 0;
border-radius: 10px;
background: rgba(255, 255, 255, 0.11);
font-size: 20px;

}



%button{
    border-radius: 6px;
    background: #FA9021;
    width: 100px;
    height: 50px;
    border: none;
    color: #fff;
    font-family: Poppins;
    cursor: pointer;
}   

.active{
    border-bottom: 5px solid #FA8305;
    border-radius: 5px;
}




@font-face {
    font-family: Poppins;
    src: url(../font/Poppins-Regular.woff);
}

 

@font-face {
    font-family: Poppins-Bold;
    src: url(../font/Poppins-Bold.woff);
}

a{
text-decoration: none;
color: #fff;
width: 15%;
text-align: center;
}


html,
body{
    margin: 0;
    overflow-x: hidden !important;
    padding: 0%;
    box-sizing: border-box;
    font-family: Poppins;
    height: auto;
    width: 100%;
    background:$backgroundGradient;

}


h1,h2{
    @extend %TitleDecoration;
    margin: 0;
    padding: 0;
}


header h1{
    width: 10%;
    height: 100%;
    font-size: 50px;
    margin-left: 5%;
}








/* Home */





header{
    position: absolute;
    top: 0;
    box-sizing: border-box;
    padding: 1%;
    height: 100px;
    width: 100%;
    @extend %flex-row;
    justify-content: space-between;
    z-index: 999;
    
    
    
}

.navigation{
width: 60%;
height: 100%;   
@extend %flex-row;
align-items: center;
justify-content: space-around;
font-size: 1.4em;
}



button{
    @extend %button
}



main{
    width: 100%;
    height: auto;
    box-sizing: border-box;
   
    
}





.mainTitle_leftSide{
    float: left;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    padding-top: 100px;
    display: flex;  
}


.mainTittleWrapper{
    height: 900px;
    width: 100%;
}






.mainTitle_rightSide{
    position: relative;
    float: right;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    padding-right: 10%;

}




    .gamepadIMG{
width: 100%;
height: 100%;
position: absolute;

}

 


 .unrealengIMG{
@extend %engineIMG;
top:50%;
left: -10%

 }
 
.cryengIMG{
    @extend %engineIMG;
    top:30%;
    left: 10%
       
} 




.unityengIMG{
    @extend %engineIMG;
    top:30%;
    left: 50%;
    width: 15%;
}




.mainTitle__text{
    margin: auto;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}





.mainTitle__text {

    h1{width: 80%;height:50%; font-size:4.5em;}


    p{margin: 0;padding: 0;color: #FFF;font-size: 18px; width: 80%;}


    button{@extend %titleButtons}



}






.TrendingGames{
    margin-top: 5%;
    width: 100%;
    height: 800px;
    box-sizing: border-box;
    padding-left: 10%;
   padding-right: 10%;
}


.TrendingGames__Title{
    width: 100%;
    @extend %flex-row;
    justify-content: space-between;
    margin-bottom: 5%;
    
    h2{
        font-size: 2.5em;
    }

    button{
        @extend %seeAllButton
    }
}


.TrendingGames__Main{
    @extend %flex-row;
    width: 100%;
    height: auto;
    justify-content: space-between;
    
}
.TrendingGames__Main_item{
    width: 20%;
    height: 390px;




    img{
        width: 100%;
        height: 80%;
        border-radius: 20px;
    }


    .TrendingGames_gameRate{
        margin-top: 5%;
        height: 10%;

        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        
            img{
                width: 30%;
                height: 100%;
            }


            p{
                color: #fff;
                width: 50%;
                height: 100%;
                font-weight: bold;
            }
        
    }


}





.AboutIndustry{
    width: 100%;
height: auto;
box-sizing: border-box;
 padding-left: 10%;
padding-right: 10%;




    h2{
        text-align: center;
        font-size: 35px;
        width: 50%;
        margin: auto;
        margin-bottom: 10%;
    }


    h3{
        color: #FFF;
    font-size: 30px;
    }
    p{
        color: #FFF;
        font-size: 18px;
        width: 40%;
        margin: 0 5% 5% 0; 
        line-height: 2em;
    }
    img{
        width: 100%;
        height: 600px;
        border-radius: 5px;


    }
}

.specializations{
    width: 100%;
    height: 950px;
    background:url("../images/Background.png");
    margin-top: 10%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;

    h3{
        color: #fff;
        text-align: center;
        width: 40%;
        margin: auto;
        margin-top: 5%;
        margin-bottom: 2%;
        font-size: 30px;
    }

    p{
        
        color: #fff;
        text-align: center;
        width: 40%;
        margin: auto;
    }


    

}



.dev-block{
    height: 80%;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    flex-wrap: wrap;
    justify-content: center;
    gap:2%;

}


.dev-block_item{
    height: 250px;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor:pointer;



    img{
        width: 20%;
        height: 20%;
       
    }


    
}



.dev-block__item_pictire{
    width: 30%;
    height: 40%;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    

    img{

        margin: auto;
        width: 60%;
        height: 60%;
    
    }


}





.Projects{
   width: 100%;
   margin-top: 10%;
   @extend %centering;
   


   h3{

    text-align: center;
    color: #fff;
    font-size: 40px;
   }

   p{
    font-size: 20px;
    text-align: center;
    color: #fff;
    width: 30%;
    margin: auto;
   }


   button{
    @extend %seeAllButton;
    margin: auto;
    display: block;
   }
}

.projects__items{
    margin-top: 5%;
    margin-bottom: 5%;
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5%;
    justify-content: center;


    img{
        width: 500px;
        height: 300px;
        border-radius: 10px;
        margin-bottom: 5%
    }

    }






.subscribe{
    @extend %centering;
    width: 100%;
    height: 600px;
    


    h3{
        font-size: 32px;
        color: #fff;
        
    }

    p{
        font-size: 20px;
        color: #fff;
        width: 40%;
    }
}

.subscribeForm{
border-radius: 15px;
background: #1C140F;
width:100%;
height: 300px;
box-sizing: border-box;
padding: 2%;
display: flex;
flex-direction: row;
align-items: center;



form{
    width: 50%;
    height: 30%;
    position: relative;
}

input{
    border-radius: 8px;
    width: 100%;
    height: 100%;
    font-size: 20px;
    
}

button{
    position: absolute;
    right: 0;
    top: 0;
    height: 80%;
    margin-top: 1%;
}


}


    
footer{

    width: 100%;
    background-color: #000;
    @extend %centering;
    padding-top: 5%;
}


.footer_items{
    @extend %flex-row;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}


.footer__logo{
    width: 40%;
    p{
        width: 40%;
        font-size: 20px;
    }
}

.footer__about{
    width: 30%;

    p{
        width: 100%;
        margin: 1%;
        padding: 0;
    }
}

.Rights{
    width: 100%;
    border-top: 2px solid #fff;
    color: #fff;
    text-align: center;
    font-size: 20px;
}










/* About */












.AboutMain__title{
    width: 100%;
    height: 900px;
    margin-top: 5%;


    .gallery{
        float: right;
        width: 50%;
        height: 100%;
        position: relative;
        overflow: hidden;
       


        .imgGallery{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            transition:  transform 0.7s ease-in-out;
            
        }


        img{
            width: 100%;
            height: 100%;
            
        }


        .buttons{
            background: #333;
            width: 30%;
            height:15%;
            position: absolute;
            bottom: 0;
            left: 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            font-size: 1.5em;
            color: #fff;



            img{
                width: 15%;
                height: 30%;
                cursor: pointer;
            }
        }
    }
}


.AboutMain__title_text{
    width: 40%;
    height: 80%;
    float: left;
    display: flex;
    box-sizing: border-box;
    color: #fff;
    padding-top: 100px;
    padding-left: 10%;
    flex-direction: column;
    justify-content: space-around;


    p{
        font-size: 20px;

    }



    h3{
        font-size: 3.5em;
        margin: 0;
    }

    button{
        @extend %titleButtons
    }
}






.workWithUs{
    width: 100%;
    height: 600px;
    margin-top: 10%;
    @extend %centering;

        h3{
            font-size: 32px;
            color: #fff;
        }
}



.Work_advantages{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.Work_advantages__item{
display: flex;
flex-direction: column;
box-sizing: border-box;
padding: 2%;
color: #fff;
width: 378px;
height: 348px;
border-radius: 20px;
background: #1C140F;
box-shadow: 0px 4px 94px 0px rgba(0, 0, 0, 0.15);

    .advantages__item_title{
display: flex;
width: 140px;
height: 39px;
border-radius: 8px;
background: rgba(176, 0, 220, 0.11);
            

        p{
            margin: auto;
        }
    }
}




.Studio_adverb{


    width: 100%;
    height: 850px;
    background: #1C140F;


        img{
            float: left;
            height: 100%;
            width: 40%;
        }

}

.Studio_adverb__text{
    float: right;
    width: 50%;
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center; 




    h3{
        font-size: 35px;
        width: 60%;

    }
    p{
        font-size: 20px;
        width: 70%;
    }
}



.Team{
    width: 100%;
    @extend %centering;
    height: 800px;
    margin-top: 5%;

    h3{
        font-size: 35px;
        color: #fff;
        margin-bottom: 5%;
    }

    
}

.Team_Members{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 5%;
}


.Member{
width: 450px;
height: 400px;
border-radius: 20px;
background: #1C140F;
color: #FFF;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;


    img{
        width: 50%;
        height: 40%;
    }

    p{
        margin: 0;
    }
    .Member-Name{
        font-size: 30px;
        font-weight: bold;
    }
    .Job-title{
        font-size: 25px;
    }
}






/* PORTFOLIO */






.Achivments{
    width: 100%;
    height: 700px;
    margin-top: 10%;
    @extend %centering;

    h3,p{
        text-align: center;
        color: #fff;
    }
    h3{
        font-size: 35px;
    }
}



.Achivments_block{
border-radius: 10px;
background: #1C140F;
width:100%;
height: 300px;
box-sizing: border-box;
padding: 5%;
display: flex;
flex-direction: row;
justify-content: space-around;

}


.Achivments_block__item{
    width: 20%;
    height: 100%;
    display: flex;
flex-direction: row;
align-items: center;
    gap: 10%;
}

.Achivments_block__image{
    width: 20%;
    height: 60%;
    border-radius: 50%;
    background-color: #FFECEC;
    display: flex;



    img{
        margin: auto;
        width: 60%;
        height: 60%;
    }
}

.Achivments_block__text{
    display: flex;
    flex-direction: column;
    align-items: center;


    h2{
        font-size: 3.5em;
        
    }

    p{
        margin:0 ;
        font-size: 25px;
    }
}








.Tasks{
    width: 100%;
    height: 600px;
    @extend %centering;


    img{
        float: left;
        height: 100%;
        width: 50%;
    }
}



.Tasks_text{
    float: right;
    width: 50%;
    height: 500px;
    box-sizing: border-box;
    padding-left: 10%;

    h3{
        color: #fff;
        font-size: 35px;
        width: 60%;

    }

    p{
        color: #fff;
        font-size: 18px;
        width: 60%;
    }

}

.tasks-option {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 3%;


    img{
        width: 10%;
        height: 100%;
    }


}


.StudioInfo{
    margin-top: 10% ;
    width: 100%;
    height:auto;
    @extend %centering;

}





.StudioInfo_item{
width: 100%;
height: 650px;
margin-top: 10%;

img{
    width: 40%;
    height: 100%;
}

button{
    background: #DC7000;
}




}


.StudioInfo_item__text{
    width: 50%;
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    justify-content: center;


    h3{
        font-size: 35px;
        width: 80%;
    }

    p{
        width: 80%;
        font-size: 20px;
      
    }

  
}

.left{
    float: left;

}

.right{
    float: right;
}



.Review{
    width: 100%;
    @extend %centering;
    height: 900px;
    margin-top: 10%;



    h3{
        text-align: center;
        margin: auto;
        width: 30%;
        color: #fff;
        font-size: 35px;
    }

    p{
        color: #fff;
        font-size: 18px;
        text-align: center;
        width: 60%; 
        margin: auto;
        margin-top: 5%;
    }
}

.Review_Box{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.Review_Box__item{
    cursor: pointer;
    width: 550px;
    box-sizing: border-box;
    padding: 1%;
    height: 300px;
    border-radius: 10px;
    border: 5px solid #fff;
    transition: 0.2s ease-in-out ;

    p{
        width: 100%;
        text-align: start;
    }
}
.Review_Box__item:hover{
    border: 5px solid rgba(220, 112, 0, 1);
    background: #0F0901;


}


.Review_Box__profile{
    width: 100%;
    height: 30%;
}

.Review_Box__profile_info{
    width: 60%;
    height: 100%;
    float: left;
    display: flex;
    flex-direction: row;
    gap:10%;



    img{
        display: block;
        width: 30%;
        height: 100%;
    }

    .Review_Box__profile__text{

        width: 60%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;


        h4{
            margin: 0;
            font-size: 1.4em;
            color: #fff;
        }

        p{
            margin: 0;
            color:#333 ;
        }
    }

}


.Review_Box__profile_rate{
    height: 100%;
    width:15%;
    float: right;
    display: flex;
    flex-direction: row;
    align-items: center;
    p{
        font-size: 25px;
        color: #fff;
        width: 70%;
        height: 50%;
        margin: 0;
    }

    img{
        width: 35%;
        height: 100%;

    }

}





/* NEWS   */








.SearchNews{
    width: 100%;
    height: 500px;
    margin-top: 200px;
    
        h3{
            font-size: 40px;
            color: #fff;
            text-align: center;

        }


        p{

            font-size: 20px;
            color: #fff; 
            text-align: center;
        }



        form{
            margin: auto;
            margin-top: 5%;
            width: 30%;
            height: 10%;
            position: relative;

                img{
                    position: absolute;
                    right: 5%;
                    bottom: 0;
                    top: 15%;
                    width: 7%;
                    
                }
        }

        input{
            font-size: 20px;
            color: #fff;
            box-sizing: border-box;
            padding: 5%;
            height: 100%;
            width: 100%;
            background-color: rgba(28, 20, 15, 1);
            border-radius: 10px;
           
        }
        
        input:focus + img {
            display: none;
          }
        
          input::placeholder{
            color: #fff;
            font-size: 30px;
          }

}


.NewsBlock{
    width: 100%;
    height: 2000px;
    @extend %centering






}


.NewsBlock__Main_News{
    width: 40%;
    height: 2000px;
    float: left;

}

.NewsBlock__Side_News{
    float: right;
    width: 50%;
    height: 2000px;

    

}


.NewsBlock__Main_News__item{
    width: 100%;
    height: 900px;



    img{
         width: 100%;
        height: 40%;
        border-radius: 20px;

    }
}


.NewsBlock{

p{
    color: #fff;
}

h3{
    color: #fff;
    font-size: 30px;
}
    
}
.NewsBlock__Author{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;

}
.NewsBlock__Author_Genre{
    color: #cccccc;
}
.NewsBlock__Author_Name{
width: 164.044px;
height: 48px;
background: #2351F5;
color: #fff;
display: flex;
    p{
        margin: auto;
    }
    
}

.NewsBlock__Author_Genre{
    font-size: 19px;
}

.NewsBlock__Side_Item{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 200px;
    gap: 5%;
    margin-bottom: 10%;


    img{
        width: 35%;
        height: 100%;
    }


    h3{
        font-size: 25px;
    }
}

.NewsBlock__Side__content{
    height: 70%;
    width: 60%;
};

.pink{background: #FF8484;};
.orange{background-color: rgba(255, 124, 50, 1)};
.green{background-color: rgba(35, 165, 79, 1);}
.purple{background-color: rgba(153, 33, 195, 1);}










/* CONTACT */








.ContactTitle{
    width: 100%;
    height: 300px;
    margin-top: 10%;

        h3{
            color: #fff;
            font-size: 35px;
            text-align: center;
        }

        p{
            font-size: 20px;
            text-align: center;
            color: #fff;
        }
}



.ContactMap{
    height: 1100px;
    width: 100%;
    @extend %centering;


    img{
        width: 100%;
        height: 60%;
    }
}






.ContactInfo{
height: 20%;
width: 100%;
display: flex;
flex-direction: row;
justify-content: space-between;

    .item{
        width: 30%;
        height: 100%;
       
    }



}

.social{
    p{
        color: #fff;
        font-size: 1.5em;
        font-weight: bold;
    }
}

.social_links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.socialContainer{
    display: block;
    border-radius: 50%;
    display: flex;
    width: 15%;
    background-color: rgba(28, 20, 15, 1);

    img{
        width: 90%;
        height: 30%;
        display: block;
        margin: auto;
    }
}

.phone{
    display: flex;
    flex-direction: row;
    color: #fff;
    font-size: 25px;
    align-items: center;

    border-left: 5px solid gray;
    border-right: 5px solid gray;

    img{
        width: 20%;
        height: 20%;
    }
}

.geo{

    display: flex;
    flex-direction: row;
    color: #fff;
    font-size: 25px;
    align-items: center;

    img{
        width: 20%;
        height: 20%;
    }



}










.formContact{
    position: relative;
    width: 100%;
    height: 900px;
    @extend %centering;
    background-color: rgba(28, 20, 15, 1);
    color: #fff;

    h3{
        font-size: 30px;
        text-align: center;
    }

    p{

        font-size: 20px;
        text-align: center;
    }

    .firstLine{
        z-index: 11;
        position: absolute;
        top: 0;
    }

    img{
        user-select:none;
        pointer-events: none;
    }

    
    .secondLine{
        position: absolute;
        bottom: 0;
        left: -10%;
        width: 50%;  
        height: 50%;
    }




    form{
        z-index: 99999;
        color: #fff;
        height: 700px;
        width: 60%;
        margin: auto;

        input{
            z-index: 99999;
        }


        button{
            width: 25%;
            height: 10%;
            float: right;
            margin-top: 5%;
        }
     
    }
}







.name{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 20%;
    float: left;
    align-items: start;


    input{
        @extend %inputButton
    }
}




.surname{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 20%;
    float: right;
    align-items: start;


    input{
        @extend %inputButton
    }
}




.email{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20%;
    float: right;
    align-items: start;


    input{
        @extend %inputButton
    }
}





.Message{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    float: right;
    align-items: start;


    textarea{
      @extend %inputButton
    }
}














@media screen and (max-width:1800px) {
    

    .Achivments_block__image{
        width: 30% !important;
        height: 75% !important;

        img{
            width: 40% !important;
        }
    }
    
    .SearchNews form {
        width: 45% !important;
    }

    @media screen and (max-width:1600px) {
        .Studio_adverb{
            height: 680px !important;
        }

       
        .Achivments_block__image{

            height: 60% !important;

        }        .Team{
            height: 700px !important;
        }
    }
    .Achivments_block__item{
        width: 25% !important;
    }


    .StudioInfo_item__text {


        p{

            font-size: 18px !important;
        }
    }


    .Review_Box__item{

        width: 400px !important;
    }

    .Review{
        height: 800px !important;
    }


    
.mainTitle__text h1{
    font-size: 3.5em;
}

.dev-block_item {
    width: 25%;
}

.subscribeForm button{
    height: 90%;
}
}
@media screen and (max-width:1300px){

 
    .TrendingGames__Main_item{
        height: 300px !important;
        width: 25% !important;
    }

    .TrendingGames__Main_item .TrendingGames_gameRate p{
        font-size: 1me !important;
    }


    .dev-block_item{
        width: 30%;
    }

    .subscribeForm form {
        width: 60% !important;
    }

    .AboutMain__title{
        margin-top: 15% !important;
    }

  
    .ContactInfo p{
        font-size: 20px !important;
    }


    .Work_advantages__item{
        width: 300px !important;

        h3{

            font-size: 1.5em !important;
        }
        
    }


    .Studio_adverb__text {
        h3{
            font-size: 2.5em !important;
            width: 90% !important;
        }
    }

    .Achivments_block__item {
        width: 30% !important;
    }




    .Tasks_text{

        height: auto !important;

        h3{
            font-size: 2.5em !important;
        }


        p{
            width: 100% !important;
        }
    }

    .tasks-option{
        margin-bottom: 0% !important;
    }


    .StudioInfo_item__text h3{
        font-size: 2em !important;
    }

    .StudioInfo_item img{
        width: 45% !important;
    }


    .Review_Box__profile_rate{ 
    width: 25% !important;

     }
}




@media screen and (max-width:1100px){

.mainTitle__text h1{
    font-size: 2.5em !important;
    height: auto;
}
.TrendingGames__Main_item .TrendingGames_gameRate{
    height: auto;
}
.TrendingGames{
    padding-left: 5% !important;
    padding-right: 5% !important;
}
    .projects__items img {
        width: 160px;
        height: 120px;
    }



    .AboutMain__title_text h3{
        font-size: 2em !important;
    }

    .AboutMain__title{
        height: 700px !important;
    }


    .Achivments{
        margin-top: 15% !important;
    }

    .Achivments_block__image {
        width: 40% !important;
    }

    .Tasks_text h3{
        font-size: 2em !important;
    }   
    .StudioInfo_item__text p{
        font-size: 15px !important;
    }


}


@media screen and (max-width:900px) {


    header {

        h1{
            display: none;
        }
        
        .navigation{
            width: 100%;

            font-size: 16px !important;
        }

        button{
            width: auto;
        }


        

    }

    .SearchNews form img{
        width: 10% !important;
    }
        
    .mainTittleWrapper{
        height: 650px;
    }
    .mainTitle_rightSide{
        display: none;
        
    }
    .mainTitle_leftSide{
        width: 100%;
    }

    .mainTitle__text h1{
        width: 100%;
    }
    .TrendingGames{
        height: auto;
    }
     .TrendingGames__Title{
        flex-direction: column;
        align-items: center;
     }
    .TrendingGames__Main{
        flex-direction: column;
    }
    .TrendingGames__Main_item{
        width: 100% !important;
        margin-bottom: 5%;
        
    }

    .TrendingGames_gameRate{
        height: 10% !important;
    }
    
    .TrendingGames_gameRate {p{
        margin: 0;
    }


    img{
        height: 80% !important;
    }
     }

     .AboutIndustry{
        margin-top: 10%;

        p{
            width: 100%;
        }

        img{
            height: 200px;
        }
     }

     .AboutIndustry h2{
        width: auto;
     }


.specializations{
        height: auto;
     }
.specializations h3{
    width: 100%;
}

.specializations p{
    width: 100%;
}

.dev-block_item{
    width: 45%;

    .dev-block__item_pictire{
        width: 80%;
    }
}

.Projects p{
    width: 100%;
}
.subscribe p{
    width: 100%;
}




.subscribeForm {
    flex-direction: column;
}



.subscribeForm {

    height: auto;

    input{

        height: 50%;
    }

    form{
        display: flex;
        flex-direction: column;
        gap: 5%;
        height: 100px;
    }

    button{
        position: inherit;
        height: 50%;
        margin: auto;
    }
}


.AboutMain__title{
    margin-top: 25% !important;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
}

.AboutMain__title_text { 
width: 100%;
float: none;
padding-left: 0 !important;
 h3{


    font-size: 1.5em !important;


}

    
}

.gallery{
    width: 100% !important;
    float: none;

}






.workWithUs{
    height: auto;
}

.Work_advantages{
    height: auto;
    flex-direction: column;
}


.Work_advantages__item{
    width: 100% !important;
    margin-bottom: 5%;


    

}




.Studio_adverb{
    height: 400px !important;


    h3{
        font-size: 15px !important;
    }


    p{
        font-size: 10px !important;
    }
}



.Studio_adverb__text{
    height: auto;
    
}


.Team{
    height: auto !important;
}


.Team_Members{
    flex-wrap: wrap;
    height: auto !important;
}



.Member{
    width: 40%;
    margin-bottom: 10%;
    .Member-Name{
        text-align: center;
    }

    
}
.Member img{
    width: 100% !important;
}





.Achivments {
    margin-top: 25% !important;
    height: auto;
}



.Achivments_block{
    height: auto;
    flex-direction: column;
}

.Achivments_block__item{
    width: 100% !important;
    height: 180px;
}
.Achivments_block__image{
    width: 40% !important;
}


.Tasks{
    height: auto !important;
    margin-top: 10%;
    display: flex;
    flex-direction: column;


    img{
        float: none;
        width: 100%;

    }

    .Tasks_text{
        width: 100%;
        float: none;
        height: auto !important;
        padding-left: 0;
    }
    .tasks-option{
        height: 100px !important;


        img{
            width: 20%;
        }
    }
    
}


.StudioInfo{
    margin-top: 45% !important;


    img{
        height: 40%;
        border-radius: 20px;
        width: 100% !important;
    }
}

.StudioInfo_item__text h3{
    font-size: 1em !important;
}
.StudioInfo_item{
    margin-bottom: 35%;
    display: flex !important;
    flex-direction: column-reverse !important;
}
.StudioInfo_item__text{
   
    width: 100%;
    p{
        font-size: 13px !important;
    }
}






.Review {

    height: auto !important;

h3{
    width: 100%;
}

p{
    font-size: 16px !important;
}


    .Review_Box{
       justify-content: center;
        flex-wrap: wrap;
    }
    .Review_Box__item{ 
    width: 300px !important;
    margin-bottom: 10%;
         }
}





.SearchNews form{
    width: 60% !important;
}

.NewsBlock__Main_News__item {
    height: 30%;



    
}
.NewsBlock{
    display: flex;
    flex-direction: column;
    height: auto !important;
}

.NewsBlock__Main_News{
    width: 100%;
    height: auto;
}
.NewsBlock__Side_Item h3{
    font-size: 12px !important;
}

.NewsBlock h3{
    font-size: 12px !important;
}

.NewsBlock__Side_News{
    width: 100%;
    height: auto;
}
.NewsBlock__Side_Item{
    height: 150px !important;
}







.ContactTitle{
    margin-top: 30% !important;
}





.ContactMap{


    height: 500px !important;
}


.ContactInfo p{
    font-size: 10px !important;
}
.socialContainer{
    width: auto;
}


.formContact .secondLine{
    width: auto;
    height: auto;

}

.formContact form{
    width: auto;
}
.formContact form button{
    width: auto;
}



}



